.HMLV .NavButton.Prev { background-image: url(//a.gfx.ms/flipper_left_rest.png);}.HMLV .NavButton.Prev.Hover { background-image: url(//a.gfx.ms/flipper_left_hover.png);}.HMLV .NavButton.Prev.Down { background-image: url(//a.gfx.ms/flipper_left_pressed.png);}.HMLV .NavButton.Next { background-image: url(//a.gfx.ms/flipper_right_rest.png);}.HMLV .NavButton.Next.Hover { background-image: url(//a.gfx.ms/flipper_right_hover.png);}.HMLV .NavButton.Next.Down { background-image: url(//a.gfx.ms/flipper_right_pressed.png);}.media-player .seek-left,
.media-player .seek-right,
.media-player .volume-left,
.media-player .volume-right
{
    background-image: url(//a.gfx.ms/rail_end.gif);
}
.media-player .volume-area,
.media-player .seek-area
{
    background-image: url(//a.gfx.ms/rail_middle.gif);
}
.media-player .volume-fill,
.media-player .seek-fill
{
    background-image: url(//a.gfx.ms/rail_fill.gif);
}
.media-player .seek-thumb
{
    background-image: url(//a.gfx.ms/seek_thumb_0.gif);
}
.media-player .seek-thumb:active
{
    background-image: url(//a.gfx.ms/seek_thumb_5.gif);
}
.media-player .seek-thumb:hover
{
    background-image: url(//a.gfx.ms/seek_thumb_1.gif);
}
.media-player .volume-thumb
{
    background-image: url(//a.gfx.ms/vol_thumb_0.gif);
}
.media-player .volume-thumb:active
{
    background-image: url(//a.gfx.ms/vol_thumb_5.gif);
}
.media-player .volume-thumb:hover
{
    background-image: url(//a.gfx.ms/vol_thumb_1.gif);
}

.media-player .seek-drag .seek-thumb,
.media-player .seek-drag .seek-thumb:hover,
.media-player .seek-drag .seek-thumb:active
{
    background-image: url(//a.gfx.ms/seek_thumb_2.gif);
}
.media-player .seek-thumb-disabled,
.media-player .seek-thumb-disabled:hover,
.media-player .seek-thumb-disabled:active
{
    background-image: url(//a.gfx.ms/seek_thumb_3.gif);
}
.media-player .volume-drag .volume-thumb,
.media-player .volume-drag .volume-thumb:hover,
.media-player .volume-drag .volume-thumb:active
{
    background-image: url(//a.gfx.ms/vol_thumb_2.gif);
}
.media-player .seek-volume-disabled,
.media-player .seek-volume-disabled:hover,
.media-player .seek-volume-disabled:active
{
    background-image: url(//a.gfx.ms/vol_thumb_3.gif);
}
.media-player .button-play
{
    background-image: url(//a.gfx.ms/play_30_0.gif);
}
.media-player .button-play:active
{
    background-image: url(//a.gfx.ms/play_30_5.gif);
}
.media-player .button-play:hover
{
    background-image: url(//a.gfx.ms/play_30_1.gif);
}
.media-player .button-play-press,
.media-player .button-play-press:hover,
.media-player .button-play-press:active
{
    background-image: url(//a.gfx.ms/play_30_2.gif);
}
.media-player .button-play-disabled,
.media-player .button-play-disabled:hover,
.media-player .button-play-disabled:active
{
    background-image: url(//a.gfx.ms/play_30_3.gif);
}
.media-player .button-pause
{
    background-image: url(//a.gfx.ms/pause_30_0.gif);
}
.media-player .button-pause:active
{
    background-image: url(//a.gfx.ms/pause_30_5.gif);
}
.media-player .button-pause:hover
{
    background-image: url(//a.gfx.ms/pause_30_1.gif);
}
.media-player .button-pause-press,
.media-player .button-pause-press:hover,
.media-player .button-pause-press:active
{
    background-image: url(//a.gfx.ms/pause_30_2.gif);
}
.media-player .button-pause-disabled,
.media-player .button-pause-disabled:hover,
.media-player .button-pause-disabled:active
{
    background-image: url(//a.gfx.ms/pause_30_3.gif);
}
.media-player .button-stop
{
    background-image: url(//a.gfx.ms/stop_20_0.gif);
}
.media-player .button-stop:active
{
    background-image: url(//a.gfx.ms/stop_20_5.gif);
}
.media-player .button-stop:hover
{
    background-image: url(//a.gfx.ms/stop_20_1.gif);
}
.media-player .button-stop-press,
.media-player .button-stop-press:hover,
.media-player .button-stop-press:active
{
    background-image: url(//a.gfx.ms/stop_20_2.gif);
}
.media-player .button-stop-disabled,
.media-player .button-stop-disabled:hover,
.media-player .button-stop-disabled:active
{
    background-image: url(//a.gfx.ms/stop_20_3.gif);
}
.media-player .button-mute
{
    background-image: url(//a.gfx.ms/mute_20_0.gif);
}
.media-player .button-mute:active
{
    background-image: url(//a.gfx.ms/mute_20_5.gif);
}
.media-player .button-mute:hover
{
    background-image: url(//a.gfx.ms/mute_20_1.gif);
}
.media-player .button-mute-press,
.media-player .button-mute-press:hover,
.media-player .button-mute-press:active
{
    background-image: url(//a.gfx.ms/mute_20_2.gif);
}
.media-player .button-mute-disabled,
.media-player .button-mute-disabled:hover,
.media-player .button-mute-disabled:active
{
    background-image: url(//a.gfx.ms/mute_20_3.gif);
}
.media-player .button-muted
{
    background-image: url(//a.gfx.ms/muted_20_0.gif);
}
.media-player .button-muted:active
{
    background-image: url(//a.gfx.ms/muted_20_5.gif);
}
.media-player .button-muted:hover
{
    background-image: url(//a.gfx.ms/muted_20_1.gif);
}
.media-player .button-muted-press,
.media-player .button-muted-press:hover,
.media-player .button-muted-press:active
{
    background-image: url(//a.gfx.ms/muted_20_2.gif);
}
.media-player .button-muted-disabled,
.media-player .button-muted-disabled:hover,
.media-player .button-muted-disabled:active
{
    background-image: url(//a.gfx.ms/muted_20_3.gif);
}